@page
@model McsaMeetsMailer.Pages.SendEmailModel
@{
  ViewData["Title"] = "Send Meet-Sheet Email";

  // Figure out date for Sunday in roughly a week's time.
  DateTime sundayNextWeek = DateTime.Now.AddDays(5);

  while (sundayNextWeek.DayOfWeek != DayOfWeek.Sunday)
  {
    sundayNextWeek = sundayNextWeek.AddDays(1);
  }

  // Figure out date for Sunday in roughly a two week's time.
  DateTime sundayNextFortnight = sundayNextWeek.AddDays(7);
  string sundayNextFortnightFriendly = sundayNextFortnight.ToString("ddd d MMM");

  // Figure out date for Sunday in roughly a three week's time.
  DateTime sundayThreeWeeks = sundayNextWeek.AddDays(14);
  string sundayThreeWeeksFriendly = sundayThreeWeeks.ToString("ddd d MMM");

  // Figure out date for Sunday in roughly a four week's time.
  DateTime sundayFourWeeks = sundayNextWeek.AddDays(21);
  string sundayFourWeeksFriendly = sundayFourWeeks.ToString("ddd d MMM");

  // Format dates yyyy/mm/dd.
  string sundayNextFortnightFormatted = sundayNextFortnight.ToString("yyyy/MM/dd");
  string sundayThreeWeeksFormatted = sundayThreeWeeks.ToString("yyyy/MM/dd");
  string sundayFourWeeksFormatted = sundayFourWeeks.ToString("yyyy/MM/dd");
  string allTimeFormatted = DateTime.Now.AddYears(10).ToString("yyyy/MM/dd");}

<div class="container" style="padding-top: 100px;">
  <input id="sendToAll" type="button" class="btn btn-success" value="Send ALL meets" onclick="sendEmailToAll('all')" />
  <input id="sendToAllDisabled" type="button" class="btn btn-default" value="Send to all Members (ALL meets)" disabled="disabled" style="display: none;" />
  <br />
  <br />
  <input id="sendToAllTwoWeeks" type="button" class="btn btn-success" value="Send meets for next 2 weeks (until @sundayNextFortnightFriendly)" onclick="sendEmailToAll('@sundayNextFortnightFormatted')" />
  <input id="sendToAllTwoWeeksDisabled" type="button" class="btn btn-default" value="Send to all Members (meets until @sundayNextFortnightFriendly)" disabled="disabled" style="display: none;" />
  <br />
  <br />
  <input id="sendToAllThreeWeeks" type="button" class="btn btn-success" value="Send meets for next 3 weeks (until @sundayThreeWeeksFriendly)" onclick="sendEmailToAll('@sundayThreeWeeksFormatted')" />
  <input id="sendToAllThreeWeeksDisabled" type="button" class="btn btn-default" value="Send to all Members (meets until @sundayThreeWeeksFriendly)" disabled="disabled" style="display: none;" />
  <br />
  <br />
  <input id="sendToAllFourWeeks" type="button" class="btn btn-success" value="Send meets for next 4 weeks (until @sundayFourWeeksFriendly)" onclick="sendEmailToAll('@sundayFourWeeksFormatted')" />
  <input id="sendToAllFourWeeksDisabled" type="button" class="btn btn-default" value="Send to all Members (meets until @sundayFourWeeksFriendly)" disabled="disabled" style="display: none;" />
  <br />
  <div style="visibility: @Model.DebugOptionsVisibility">
    <hr />
    <input id="sendToAddress" type="button" class="btn btn-default" value="Send to Address (ALL meets)" onclick="sendEmailToAddress('all')" />
    <input id="sendToAddressDisabled" type="button" class="btn btn-default" value="Send to Address (ALL meets)" disabled="disabled" style="display: none;" />
    <input id="emailAddress" type="email" />
    <br />
    <br />
    <input id="sendToAddressTwoWeeks" type="button" class="btn btn-default" value="Send to Address (meets until @sundayNextFortnightFriendly)" onclick="sendEmailToAddress('@sundayNextFortnightFormatted')" />
    <input id="sendToAddressTwoWeeksDisabled" type="button" class="btn btn-default" value="Send to Address (meets until @sundayNextFortnightFriendly)" disabled="disabled" style="display: none;" />
    <br />
    <br />
    <input id="sendToAddressThreeWeeks" type="button" class="btn btn-default" value="Send to Address (meets until @sundayThreeWeeksFriendly)" onclick="sendEmailToAddress('@sundayThreeWeeksFormatted')" />
    <input id="sendToAddressThreeWeeksDisabled" type="button" class="btn btn-default" value="Send to Address (meets until @sundayThreeWeeksFriendly)" disabled="disabled" style="display: none;" />
    <br />
    <br />
    <input id="sendToAddressFourWeeks" type="button" class="btn btn-default" value="Send to Address (meets until @sundayFourWeeksFriendly)" onclick="sendEmailToAddress('@sundayFourWeeksFormatted')" />
    <input id="sendToAddressFourWeeksDisabled" type="button" class="btn btn-default" value="Send to Address (meets until @sundayFourWeeksFriendly)" disabled="disabled" style="display: none;" />
    <br />
  </div>
  <br />
  <input id="sendStatus" type="text" class="text-center" style="border: none; width: 100%; font-weight: bold;" readonly />
</div>

<script language="javascript">

  function disableButton(button, disabledButton) {
    button.style.display = 'none';
    disabledButton.style.display = 'inline';
  }

  function enableButton(button, disabledButton) {
    button.style.display = 'inline';
    disabledButton.style.display = 'none';
  }

  function disableSendButtons() {
    disableButton(
      document.getElementById("sendToAll"),
      document.getElementById("sendToAllDisabled"))

    disableButton(
      document.getElementById("sendToAllTwoWeeks"),
      document.getElementById("sendToAllTwoWeeksDisabled"))

    disableButton(
      document.getElementById("sendToAllThreeWeeks"),
      document.getElementById("sendToAllThreeWeeksDisabled"))

    disableButton(
      document.getElementById("sendToAllFourWeeks"),
      document.getElementById("sendToAllFourWeeksDisabled"))

    disableButton(
      document.getElementById("sendToAddress"),
      document.getElementById("sendToAddressDisabled"))

    disableButton(
      document.getElementById("sendToAddressTwoWeeks"),
      document.getElementById("sendToAddressTwoWeeksDisabled"))

    disableButton(
      document.getElementById("sendToAddressThreeWeeks"),
      document.getElementById("sendToAddressThreeWeeksDisabled"))

    disableButton(
      document.getElementById("sendToAddressFourWeeks"),
      document.getElementById("sendToAddressFourWeeksDisabled"))
  }

  function enableSendButtons() {
    enableButton(
      document.getElementById("sendToAll"),
      document.getElementById("sendToAllDisabled"))

    enableButton(
      document.getElementById("sendToAllTwoWeeks"),
      document.getElementById("sendToAllTwoWeeksDisabled"))

    enableButton(
      document.getElementById("sendToAllThreeWeeks"),
      document.getElementById("sendToAllThreeWeeksDisabled"))

    enableButton(
      document.getElementById("sendToAllFourWeeks"),
      document.getElementById("sendToAllFourWeeksDisabled"))

    enableButton(
      document.getElementById("sendToAddress"),
      document.getElementById("sendToAddressDisabled"))

    enableButton(
      document.getElementById("sendToAddressTwoWeeks"),
      document.getElementById("sendToAddressTwoWeeksDisabled"))

    enableButton(
      document.getElementById("sendToAddressThreeWeeks"),
      document.getElementById("sendToAddressThreeWeeksDisabled"))

    enableButton(
      document.getElementById("sendToAddressFourWeeks"),
      document.getElementById("sendToAddressFourWeeksDisabled"))
  }

  function getSerialisedEmailContentModel(sendMeetsUpUntilThisDate) {
    var subject = "@BusinessLogic.EmailConstants.EmailSubjectAbridged";
    var body = "@BusinessLogic.EmailConstants.DefaultBodyAbridged";

    if (sendMeetsUpUntilThisDate == 'all') {
      sendMeetsUpUntilThisDate = "@allTimeFormatted";
      subject = "@BusinessLogic.EmailConstants.EmailSubject";
      body = "@BusinessLogic.EmailConstants.DefaultBody";
    }

    var emailAddress = document.getElementById("emailAddress").value;

    var emailContent = new Object();
    emailContent.Address = emailAddress;
    emailContent.Subject = subject;
    emailContent.Body = body;
    emailContent.SendMeetsUpUntilThisDate = sendMeetsUpUntilThisDate;

    return JSON.stringify(emailContent);
  }

  function sendEmailToAddress(sendMeetsUpUntilThisDate) {
    var emailAddress = document.getElementById("emailAddress").value;
    var sendStatus = document.getElementById("sendStatus");

    if (emailAddress === "") {
      alert("Please enter an email address first.");
      return;
    }

    var confirmResult = false;

    if (sendMeetsUpUntilThisDate == "all") {
      confirmResult = confirm(
        "This will email " + emailAddress + " with all the meets - continue?")
    }
    else {
      confirmResult = confirm(
        "This will email " + emailAddress + " with the meets until " + sendMeetsUpUntilThisDate + " - continue?")
    }

    if (confirmResult == false) {
      return;
    }

    disableSendButtons();

    sendStatus.value = 'Sending...';

    $.ajax({
      url: 'api/email/sendToAddress',
      data: getSerialisedEmailContentModel(sendMeetsUpUntilThisDate),
      type: 'POST',
      contentType: 'application/json',
      dataType: 'json',
      success: function (result) {
        sendStatus.value = 'Sent successfully.';
      },
      error: function (xhr, exception) {
        sendStatus.value = 'Send failed.';
        alert('Failed to send email, the following message may be helpful: (' + xhr.status + ') ' + xhr.responseText);
      },
      complete: function () {
        enableSendButtons();
      }
    });
  }

  function sendEmailToAll(sendMeetsUpUntilThisDate) {
    var confirmResult = false;

    if (sendMeetsUpUntilThisDate == "all") {
      confirmResult = confirm(
        "This will email all members with all the meets - continue?")
    }
    else {
      confirmResult = confirm(
        "This will email all members with the meets until " + sendMeetsUpUntilThisDate + " - continue?")
    }

    if (confirmResult == false) {
      return;
    }

    var sendStatus = document.getElementById("sendStatus");

    disableSendButtons();

    sendStatus.value = 'Sending...';

    $.ajax({
      url: 'api/email/sendToAll',
      data: getSerialisedEmailContentModel(sendMeetsUpUntilThisDate),
      type: 'POST',
      contentType: 'application/json',
      dataType: 'json',
      success: function (result) {
        sendStatus.value = 'Sent successfully.';
      },
      error: function (xhr, exception) {
        sendStatus.value = 'Send failed.';
        alert('Failed to send email, the following message may be helpful: (' + xhr.status + ') ' + xhr.responseText);
      },
      complete: function () {
        enableSendButtons();
      }
    });
  }
</script>